Add AI Knowledge.json
{"createdAt":"2025-06-12T12:56:12.849Z","updatedAt":"2025-06-12T16:09:51.000Z","id":"r44OuQzIM19u0NkD","name":"Add AI Knowledge","active":false,"nodes":[{"parameters":{"formTitle":"上传知识库文件","formDescription":"请上传 PDF, Markdown 或 CSV 文件","formFields":{"values":[{"fieldLabel":"Files","fieldType":"file","acceptFileTypes":".pdf,.md,.csv"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-540,-120],"id":"ee765bfc-11ea-4015-bdaa-b93a44a11a51","name":"On form submission","webhookId":"f55646fe-5a35-429f-aa35-1374f203251a"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-320,-120],"id":"b1302089-96b3-4309-9786-6935d4525e80","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"bK27dzykmoSdZ7H1","name":"QdrantApi account"}}},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"file","value":"={{ $json.Files[0].filename }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-180,100],"id":"283258ea-bb35-48e7-aadb-d7a6a1c0c19f","name":"Default Data Loader"},{"parameters":{"chunkSize":768,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-100,320],"id":"31d19f46-dd3f-4020-b4f0-41594e047ee2","name":"Recursive Character Text Splitter"},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[-440,120],"id":"1641fe0b-a3fa-4dea-a2f0-093a09e1a745","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"I85QWHHILQKnJjcr","name":"Ollama account"}}}],"connections":{"On form submission":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8799628f-7d72-44d8-86bd-5f1e301cd9af","triggerCount":0,"tags":[],"error":"The resource you are requesting could not be found"}