Backup Workflows To Github.json
{"createdAt":"2025-06-13T13:14:43.143Z","updatedAt":"2025-06-13T14:34:21.000Z","id":"o4kxRZYIz3S6ochz","name":"Backup Workflows To Github","active":false,"nodes":[{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"liweihai","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/liweihai/n8n-workflows"},"filePath":"={{$json[\"name\"]}}.json","fileContent":"={{JSON.stringify($json)}}","commitMessage":"=[N8N Backup] {{$json[\"name\"]}} ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[1080,200],"typeVersion":1,"id":"0ac4d895-7546-4b20-a420-3e62815c6c5f","webhookId":"4a46d2f1-ec24-4983-99f8-a2fd0a3dc389","credentials":{"githubApi":{"id":"ssM7STw3JqB6V8wC","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"liweihai","mode":""},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/liweihai/n8n-workflows"},"filePath":"={{$json.name}}.json","fileContent":"={{JSON.stringify($json)}}","commitMessage":"=[N8N Backup] {{$json[\"name\"]}}.json ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"Create file","type":"n8n-nodes-base.github","position":[500,140],"typeVersion":1,"id":"a041ca77-e138-447d-9f0f-9f1065a0b40f","webhookId":"a4e7d62c-2c88-48c5-9429-01e25dbd0213","credentials":{"githubApi":{"id":"ssM7STw3JqB6V8wC","name":"GitHub account"}}},{"parameters":{"authentication":"headerAuth","url":"http://n8n.bysoft.net.cn/api/v1/workflows","options":{},"headerParametersUi":{"parameter":[{"name":"accept","value":"application/json"}]}},"name":"Get workflows","type":"n8n-nodes-base.httpRequest","position":[-840,-140],"typeVersion":1,"id":"7c83ad5a-c9d7-4f63-9092-e153498ca3fa","credentials":{"httpHeaderAuth":{"id":"m57d61R0ZMiXHRBm","name":"n8n Header Auth account"}}},{"parameters":{"authentication":"headerAuth","url":"={{$json[\"download_url\"]}}","responseFormat":"string","options":{}},"name":"Download Raw Content","type":"n8n-nodes-base.httpRequest","position":[600,-40],"typeVersion":1,"id":"ceff8614-bf0c-42e0-a668-3dfe608d282d","retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"m57d61R0ZMiXHRBm","name":"n8n Header Auth account"}}},{"parameters":{"triggerTimes":{"item":[{"hour":23,"minute":59}]}},"name":"Daily at 23:59","type":"n8n-nodes-base.cron","position":[-1120,-140],"typeVersion":1,"id":"5872afce-fd13-4405-9518-7c19aa311e28"},{"parameters":{"mode":"removeKeyMatches","propertyName1":"data.updatedAt","propertyName2":"data.updatedAt"},"name":"Merge1","type":"n8n-nodes-base.merge","position":[840,-360],"typeVersion":1,"id":"c3fcf2e4-1216-4f96-886b-83f390c1b968"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-240,-140],"id":"b4e25e8f-97d2-4fba-ae24-09eb26b0ea16","name":"Loop Over Items"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"liweihai","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/liweihai/n8n-workflows"},"filePath":"={{ $json.name }}.json","asBinaryProperty":false,"additionalParameters":{}},"name":"Get File","type":"n8n-nodes-base.github","position":[300,-20],"executeOnce":true,"typeVersion":1,"alwaysOutputData":false,"id":"5577f61d-f520-4ff1-bdb6-48e5c51869f7","webhookId":"8b68b915-15b7-460e-9e51-b342bfeb1ddf","credentials":{"githubApi":{"id":"ssM7STw3JqB6V8wC","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,-80],"id":"88ce9114-d4f5-423b-a2a4-03496893a0b5","name":"Fetch Data"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-560,-140],"id":"6fb55687-eeb5-4c3b-9b07-e1834f019a91","name":"Split Out"}],"connections":{"Merge1":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"Get workflows":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Daily at 23:59":{"main":[[{"node":"Get workflows","type":"main","index":0}]]},"Download Raw Content":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Loop Over Items":{"main":[[],[{"node":"Fetch Data","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Download Raw Content","type":"main","index":0}],[{"node":"Create file","type":"main","index":0}]]},"Create file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Fetch Data":{"main":[[{"node":"Get File","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"GitHub Edit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8358d26f-4570-4ab6-8feb-72112f2928c7","triggerCount":0,"tags":[]}