Crawl One Page.json
{"createdAt":"2025-06-06T10:33:19.513Z","updatedAt":"2025-06-15T11:53:47.000Z","id":"dJaIZq38hbJTPWBg","name":"Crawl One Page","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"url"},{"name":"output_format"},{"name":"content"}]}},"id":"93267b82-ef4e-4e6d-b5df-04dca8e97a2b","name":"Subworkflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[520,1700],"typeVersion":1.1},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[740,1700],"id":"8fc4dc5e-b8e9-4fa6-96f5-afcf41957267","name":"Url Ref"},{"parameters":{"html":"={{ $json.content }}","destinationKey":"content","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[2580,1600],"id":"b9bdc647-80b6-48d9-9be9-b14547734062","name":"Markdown","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77972e3b-ca84-4533-9367-fdacfdd219e8","leftValue":"={{ $('Url Ref').first().json.output_format }}","rightValue":"markdown","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2320,1620],"id":"5667bee9-b9ae-43fe-b602-082d763eaf96","name":"If output format is markdown"},{"parameters":{"url":"https://www.emedclub.com/crawl","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,1900],"id":"3fffd766-5f37-49ea-8288-5b290bf70a75","name":"Emedclub","onError":"continueErrorOutput"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,1700],"id":"f44f4803-0693-4dfc-866e-aff36c105495","name":"HTTP Request","onError":"continueErrorOutput"},{"parameters":{"html":"={{ $json.data }}"},"type":"n8n-nodes-webpage-content-extractor.webpageContentExtractor","typeVersion":1,"position":[1720,1440],"id":"f7e81503-d357-4360-9a98-abb4e1473fe5","name":"WebpageContentExtractor","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f1eb3c13-8b40-41d3-9939-6a453d68458b","name":"content","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2520,2080],"id":"02463afe-2592-4143-9067-a3559638ca3f","name":"Empty Output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b74cb16d-94f7-4ecc-9578-7e42ce1c63ee","leftValue":"={{ $(\"Url Ref\").first().json.content.length }}","rightValue":"={{ $json.content.length }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1960,1440],"id":"623c144e-4903-4ff6-bf71-db1e33a71fae","name":"If valid content"},{"parameters":{"html":"={{ $json.data }}"},"type":"n8n-nodes-webpage-content-extractor.webpageContentExtractor","typeVersion":1,"position":[2020,1780],"id":"19f1978a-0744-42ba-8447-d72daa2e2f89","name":"WebpageContentExtractor1","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c3629e9-eb7c-4b5a-ba2e-e2e50d467691","leftValue":"={{ $('HTTP Request').first().binary.data.mimeType }}","rightValue":"pdf","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,1420],"id":"32c59765-1e2e-46c6-afd8-4ff91ddf7422","name":"If"},{"parameters":{},"type":"n8n-nodes-pdf-page-extract.pdfPageExtract","typeVersion":1,"position":[1340,1200],"id":"9c6979a6-ec55-4ff1-ae0b-a39dd97bd991","name":"PDF Page Extract"},{"parameters":{"assignments":{"assignments":[{"id":"c58e612f-36c7-426b-9666-4567fe7e9306","name":"data","value":"={{ $json.pages.join(\"\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1560,1200],"id":"214a0d6f-1733-4eb0-b26e-972f679a527f","name":"Pages To Data"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1940,2060],"id":"97620941-9ae6-4a0f-ad13-e22048a6536f","name":"Wait","webhookId":"1d3f4f46-bee2-4b7f-84d2-0ba663c8fcb7"},{"parameters":{"url":"https://www.emedclub.com/crawl","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2180,2060],"id":"646d7911-a704-4fa0-8430-c18d05407b1d","name":"Emedclub Again","onError":"continueErrorOutput"}],"connections":{"Subworkflow":{"main":[[{"node":"Url Ref","type":"main","index":0}]]},"Url Ref":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If output format is markdown":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Emedclub":{"main":[[{"node":"WebpageContentExtractor1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"WebpageContentExtractor":{"main":[[{"node":"If valid content","type":"main","index":0}],[]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Emedclub","type":"main","index":0}]]},"If valid content":{"main":[[{"node":"If output format is markdown","type":"main","index":0}],[{"node":"Emedclub","type":"main","index":0}]]},"WebpageContentExtractor1":{"main":[[{"node":"If output format is markdown","type":"main","index":0}]]},"If":{"main":[[{"node":"PDF Page Extract","type":"main","index":0}],[{"node":"WebpageContentExtractor","type":"main","index":0}]]},"PDF Page Extract":{"main":[[{"node":"Pages To Data","type":"main","index":0}]]},"Pages To Data":{"main":[[{"node":"WebpageContentExtractor","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Emedclub Again","type":"main","index":0}]]},"Emedclub Again":{"main":[[{"node":"WebpageContentExtractor1","type":"main","index":0}],[{"node":"Empty Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b5ac2a66-92da-4e9a-9c07-559a59f68af8","triggerCount":0,"tags":[]}