Deep Research Initialize.json
{"createdAt":"2025-05-16T07:27:07.689Z","updatedAt":"2025-05-20T12:16:52.000Z","id":"hNVu1I7KMd7FQayB","name":"Deep Research Initialize","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"acb41e93-70c6-41a3-be0f-e5a74ec3ec88","name":"query","type":"string","value":"={{ $('Execution Data').first().json.data.query }}"},{"id":"7fc54063-b610-42bc-a250-b1e8847c4d1e","name":"learnings","type":"array","value":"={{ $('Execution Data').first().json.data.learnings }}"},{"id":"e8f1c158-56fb-41c8-8d86-96add16289bb","name":"breadth","type":"number","value":"={{ $('Execution Data').first().json.data.breadth }}"}]},"options":{}},"id":"a4046b34-1b84-43b7-85e3-559bf77512f5","name":"Set Initial Query","type":"n8n-nodes-base.set","position":[1040,2120],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"db509e90-9a86-431f-8149-4094d22666cc","name":"should_stop","type":"boolean","value":"={{\n$runIndex >= ($('Execution Data').first().json.data.depth)\n}}"},{"id":"90986e2b-8aca-4a22-a9db-ed8809d6284d","name":"all_learnings","type":"array","value":"={{\nArray($runIndex+1)\n  .fill(0)\n  .flatMap((_,idx) => {\n    try {\n      return $('Generate Learnings')\n        .all(0,idx)\n        .flatMap(item => item.json.data.flatMap(d => d.learnings))\n    } catch (e) {\n      return []\n    }\n  })\n}}"},{"id":"3eade958-e8ab-4975-aac4-f4a4a983c163","name":"all_urls","type":"array","value":"={{\nArray($runIndex+1)\n  .fill(0)\n  .flatMap((_,idx) => {\n    try {\n      return $('Generate Learnings')\n        .all(0,idx)\n        .flatMap(item => item.json.data.flatMap(d => d.urls))\n    } catch (e) {\n      return []\n    }\n  })\n}}"}]},"includeOtherFields":"={{ false }}","options":{}},"id":"3cc44a52-4fe7-4372-8e22-c65956192816","name":"Accumulate Results","type":"n8n-nodes-base.set","position":[1580,2060],"executeOnce":true,"typeVersion":3.4},{"parameters":{"mode":"raw","jsonOutput":"={{ $('Generate Learnings').item.json }}","options":{}},"id":"d5c0efd3-a6fa-4523-91ac-9142a1a6cd9f","name":"DeepResearch Results","type":"n8n-nodes-base.set","position":[2100,2180],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"ac1c2b5d-e988-4fbb-915c-8d67b3fe2f23","name":"Results to Items","type":"n8n-nodes-base.splitOut","position":[2400,2180],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"d88bfe95-9e73-4d25-b45c-9f164b940b0e","name":"query","type":"string","value":"=Previous research goal: {{ $json.researchGoal }}\nFollow-up research directions: {{ $json.followUpQuestions.map(q => `\\n${q}`).join('') }}"},{"id":"4aa20690-d998-458a-b1e4-0d72e6a68e6b","name":"learnings","type":"array","value":"={{ $('Accumulate Results').item.json.all_learnings }}"},{"id":"89acafae-b04a-4d5d-b08b-656e715654e4","name":"breadth","type":"number","value":"={{ $('Execution Data').first().json.data.breadth }}"}]},"options":{}},"id":"7d2fc791-671e-4e52-ad52-4e488be10b6e","name":"Set Next Queries","type":"n8n-nodes-base.set","position":[2620,2220],"typeVersion":3.4},{"parameters":{"dataToSave":{"values":[{"key":"requestId","value":"={{ $json.requestId }}"}]}},"id":"bd1afa41-3cf7-4777-9c6f-16238c356aec","name":"Execution Data","type":"n8n-nodes-base.executionData","position":[780,2120],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"75d18d88-6ba6-43df-bef7-3e8ad99ad8bd","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.should_stop }}","rightValue":""}]},"options":{}},"id":"6ced8375-bb6a-4677-98d5-cfca7c3e9b3b","name":"Is Depth Reached?","type":"n8n-nodes-base.if","position":[1800,2060],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"90b3da00-dcd5-4289-bd45-953146a3b0ba","name":"all_learnings","type":"array","value":"={{ $json.all_learnings }}"},{"id":"623dbb3d-83a1-44a9-8ad3-48d92bc42811","name":"all_urls","type":"array","value":"={{ $json.all_urls }}"}]},"options":{}},"id":"1b8e09db-e766-453c-80a8-ab3e40989ac3","name":"Get Research Results","type":"n8n-nodes-base.set","position":[2100,1980],"typeVersion":3.4},{"parameters":{"workflowId":{"__rl":true,"value":"=gUX46noLRG1B9CSH","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data":"={{\n{\n  ...Object.assign({}, $json),\n  query: $('Execution Data').first().json.data.query\n}\n}}","requestId":"={{ $('Execution Data').first().json.requestId }}"},"matchingColumns":[],"schema":[{"id":"requestId","display":true,"required":false,"displayName":"requestId","defaultMatch":false,"canBeUsedToMatch":true},{"id":"jobType","type":"string","display":true,"required":false,"displayName":"jobType","defaultMatch":false,"canBeUsedToMatch":true,"removed":true},{"id":"data","type":"object","display":true,"required":false,"displayName":"data","defaultMatch":false,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"868a9a67-ebf0-4b93-83c3-0dbe293e22fb","name":"Generate Report","type":"n8n-nodes-base.executeWorkflow","position":[2400,1980],"typeVersion":1.2},{"parameters":{"workflowId":{"__rl":true,"value":"=GX1iliAidiNstBdE","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data":"={{ $json }}","jobType":"deepresearch_learnings","requestId":"={{ $('Execution Data').first().json.requestId }}"},"matchingColumns":[],"schema":[{"id":"requestId","display":true,"removed":false,"required":false,"displayName":"requestId","defaultMatch":false,"canBeUsedToMatch":true},{"id":"jobType","type":"string","display":true,"removed":false,"required":false,"displayName":"jobType","defaultMatch":false,"canBeUsedToMatch":true},{"id":"data","type":"object","display":true,"removed":false,"required":false,"displayName":"data","defaultMatch":false,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"id":"5e723819-ee42-4d5e-b48b-99b7d310f200","name":"Generate Learnings","type":"n8n-nodes-base.executeWorkflow","position":[1360,2120],"typeVersion":1.2},{"parameters":{"workflowInputs":{"values":[{"name":"requestId","type":"any"},{"name":"data","type":"object"}]}},"id":"fedb4d6f-f9c8-4d46-aa9d-ebbeee4fb81f","name":"Deep Research Initialize","type":"n8n-nodes-base.executeWorkflowTrigger","position":[520,2120],"typeVersion":1.1}],"connections":{"Execution Data":{"main":[[{"node":"Set Initial Query","type":"main","index":0}]]},"Results to Items":{"main":[[{"node":"Set Next Queries","type":"main","index":0}]]},"Set Next Queries":{"main":[[{"node":"Generate Learnings","type":"main","index":0}]]},"Is Depth Reached?":{"main":[[{"node":"Get Research Results","type":"main","index":0}],[{"node":"DeepResearch Results","type":"main","index":0}]]},"Set Initial Query":{"main":[[{"node":"Generate Learnings","type":"main","index":0}]]},"Accumulate Results":{"main":[[{"node":"Is Depth Reached?","type":"main","index":0}]]},"Generate Learnings":{"main":[[{"node":"Accumulate Results","type":"main","index":0}]]},"DeepResearch Results":{"main":[[{"node":"Results to Items","type":"main","index":0}]]},"Get Research Results":{"main":[[{"node":"Generate Report","type":"main","index":0}]]},"Deep Research Initialize":{"main":[[{"node":"Execution Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"32e5ec38-f2ac-435e-bcf7-fb020d1cdb6f","triggerCount":0,"tags":[],"error":"The resource you are requesting could not be found"}