Deep Research Report.json
{"createdAt":"2025-05-16T07:28:03.126Z","updatedAt":"2025-07-05T13:04:17.000Z","id":"gUX46noLRG1B9CSH","name":"Deep Research Report","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"requestId","type":"any"},{"name":"data","type":"object"}]}},"id":"af6e7308-e9cd-4e98-bdb5-e7a741277090","name":"DeepResearch Subworkflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[200,1020],"typeVersion":1.1},{"parameters":{"dataToSave":{"values":[{"key":"requestId","value":"={{ $json.requestId }}"}]}},"id":"6c11aa76-3194-401c-9ba3-cbd8183ecdee","name":"Execution Data","type":"n8n-nodes-base.executionData","position":[500,1020],"typeVersion":1},{"parameters":{"promptType":"define","text":"=You are are an expert and insightful researcher.\n* Given the following prompt from the user, write a final report on the topic using the learnings from research.\n* Make it as as detailed as possible, aim for 3 or more pages, include ALL the learnings from research.\n* Format the report in markdown. Use headings, lists and tables only and where appropriate.\n* Write in Chinese.\n\n<prompt>{{ $('Execution Data').first().json.data.query }}</prompt>\n\nHere are all the learnings from previous research:\n\n<learnings>\n{{\n$('Execution Data').first().json.data\n  .all_learnings\n  .map(item => `<learning>${item}</learning>`)  \n  .join('\\n')\n}}\n</learnings>"},"id":"70cb24ae-ae53-4513-85e1-869fd5250f55","name":"DeepResearch Report","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[820,1020],"typeVersion":1.5,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gemini-2.0-flash","mode":"list","cachedResultName":"gemini-2.0-flash"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[740,1260],"id":"0b3e6676-81a3-42ed-89e2-10ed0a2ca540","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"ZtquqVbSZYmpp9BK","name":"Gemini OpenAI"}}},{"parameters":{"promptType":"define","text":"=You are are an expert and insightful researcher.\n* Given the following prompt from the user, write a final report on the topic using the learnings from research.\n* Make it as as detailed as possible, aim for 3 or more pages, include ALL the learnings from research.\n* Format the report in markdown. Use headings, lists and tables only and where appropriate.\n* Write in Chinese.\n\n<prompt>{{ $('Execution Data').first().json.data.query }}</prompt>\n\nHere are all the learnings from previous research:\n\n<learnings>\n{{\n$('Execution Data').first().json.data\n  .all_learnings\n  .map(item => `<learning>${item}</learning>`)  \n  .join('\\n')\n}}\n</learnings>"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1220,1220],"id":"7cb6059e-aaea-4b04-a963-2d3ddcfe5984","name":"Basic LLM Chain"},{"parameters":{"model":"deepseek/deepseek-chat:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1180,1440],"id":"a31127c8-8940-4860-8122-84ba15bdd754","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"oTFyd3SVcT8EVg5h","name":"OpenRouter account"}}}],"connections":{"Execution Data":{"main":[[{"node":"DeepResearch Report","type":"main","index":0}]]},"DeepResearch Report":{"main":[[],[{"node":"Basic LLM Chain","type":"main","index":0}]]},"DeepResearch Subworkflow":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"DeepResearch Report","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ca0b7ef-ee49-4e1c-b76c-dbce074ef0f9","triggerCount":0,"tags":[]}