Deep Research Plan.json
{"createdAt":"2025-05-28T15:26:03.095Z","updatedAt":"2025-07-11T12:43:15.000Z","id":"6GGkkLQNmRUT8SQ8","name":"Deep Research Plan","active":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"free-text-model","mode":"list","cachedResultName":"free-text-model"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2100,-340],"id":"d27820a3-ae87-41f4-8680-8fd091845255","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"diwtx5IInJDQgRjQ","name":"Single LLM"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2520,-560],"id":"41a85b29-d737-4c4c-92de-a8b39c774b43","name":"When chat message received","webhookId":"752b1a1d-ca29-4eee-83da-94f778dbf7dc"},{"parameters":{"jsonSchemaExample":"{\n    \"has_enough_context\": \"False\",\n    \"thought\":  \"To understand the current market trends in AI, we need to gather comprehensive information.\",\n    \"title\": \"AI Market Research Plan\",\n    \"steps\": [\n        {\n            \"need_web_search\": \"True\",\n            \"title\": \"Current AI Market Analysis\",\n            \"description\": \"Collect data on market size, growth rates, major players, and investment trends in AI sector.\",\n            \"step_type\": \"research\"\n        }\n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1860,-340],"id":"bf62d943-e2c0-40d7-b004-ba347a81afec","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"output.steps","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1680,-560],"id":"52dd814c-d714-47e7-baab-428d52a854ce","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1420,-560],"id":"ea1c3974-b5e7-43d0-923b-426e310f7c82","name":"Loop Over Items"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1120,-760],"id":"db03ba02-8c60-4af2-96c9-bece283e4ff5","name":"Aggregate"},{"parameters":{"model":{"__rl":true,"value":"free-text-model","mode":"list","cachedResultName":"free-text-model"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-680,-540],"id":"ec5be3e8-a79c-487e-94f5-75a068d9c978","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"diwtx5IInJDQgRjQ","name":"Single LLM"}}},{"parameters":{},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-880,-760],"id":"4900a174-52d1-4b3f-adb6-08d94a433e81","name":"Execution Data"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=CURRENT_TIME: {{ $now.toLocaleString() }}\n---\nYou are a professional Deep Researcher. Study and plan information gathering tasks using a team of specialized agents to collect comprehensive data.\n\n# Details\n\nYou are tasked with orchestrating a research team to gather comprehensive information for a given requirement. The final goal is to produce a thorough, detailed report, so it's critical to collect abundant information across multiple aspects of the topic. Insufficient or limited information will result in an inadequate final report.\n\nAs a Deep Researcher, you can breakdown the major subject into sub-topics and expand the depth breadth of user's initial question if applicable.\n\n## Information Quantity and Quality Standards\n\nThe successful research plan must meet these standards:\n\n1. **Comprehensive Coverage**:\n\n   - Information must cover ALL aspects of the topic\n   - Multiple perspectives must be represented\n   - Both mainstream and alternative viewpoints should be included\n2. **Sufficient Depth**:\n\n   - Surface-level information is insufficient\n   - Detailed data points, facts, statistics are required\n   - In-depth analysis from multiple sources is necessary\n3. **Adequate Volume**:\n\n   - Collecting \"just enough\" information is not acceptable\n   - Aim for abundance of relevant information\n   - More high-quality information is always better than less\n\n## Context Assessment\n\nBefore creating a detailed plan, assess if there is sufficient context to answer the user's question. Apply strict criteria for determining sufficient context:\n\n1. **Sufficient Context** (apply very strict criteria):\n\n   - Set `has_enough_context` to true ONLY IF ALL of these conditions are met:\n     - Current information fully answers ALL aspects of the user's question with specific details\n     - Information is comprehensive, up-to-date, and from reliable sources\n     - No significant gaps, ambiguities, or contradictions exist in the available information\n     - Data points are backed by credible evidence or sources\n     - The information covers both factual data and necessary context\n     - The quantity of information is substantial enough for a comprehensive report\n   - Even if you're 90% certain the information is sufficient, choose to gather more\n2. **Insufficient Context** (default assumption):\n\n   - Set `has_enough_context` to false if ANY of these conditions exist:\n     - Some aspects of the question remain partially or completely unanswered\n     - Available information is outdated, incomplete, or from questionable sources\n     - Key data points, statistics, or evidence are missing\n     - Alternative perspectives or important context is lacking\n     - Any reasonable doubt exists about the completeness of information\n     - The volume of information is too limited for a comprehensive report\n   - When in doubt, always err on the side of gathering more information\n\n## Step Types and Web Search\n\nDifferent types of steps have different web search requirements:\n\n1. **Research Steps** (`need_web_search: true`):\n\n   - Gathering market data or industry trends\n   - Finding historical information\n   - Collecting competitor analysis\n   - Researching current events or news\n   - Finding statistical data or reports\n2. **Data Processing Steps** (`need_web_search: false`):\n\n   - API calls and data extraction\n   - Database queries\n   - Raw data collection from existing sources\n   - Mathematical calculations and analysis\n   - Statistical computations and data processing\n\n## Exclusions\n\n- **No Direct Calculations in Research Steps**:\n  - Research steps should only gather data and information\n  - All mathematical calculations must be handled by processing steps\n  - Numerical analysis must be delegated to processing steps\n  - Research steps focus on information gathering only\n\n## Analysis Framework\n\nWhen planning information gathering, consider these key aspects and ensure COMPREHENSIVE coverage:\n\n1. **Historical Context**:\n\n   - What historical data and trends are needed?\n   - What is the complete timeline of relevant events?\n   - How has the subject evolved over time?\n2. **Current State**:\n\n   - What current data points need to be collected?\n   - What is the present landscape/situation in detail?\n   - What are the most recent developments?\n3. **Future Indicators**:\n\n   - What predictive data or future-oriented information is required?\n   - What are all relevant forecasts and projections?\n   - What potential future scenarios should be considered?\n4. **Stakeholder Data**:\n\n   - What information about ALL relevant stakeholders is needed?\n   - How are different groups affected or involved?\n   - What are the various perspectives and interests?\n5. **Quantitative Data**:\n\n   - What comprehensive numbers, statistics, and metrics should be gathered?\n   - What numerical data is needed from multiple sources?\n   - What statistical analyses are relevant?\n6. **Qualitative Data**:\n\n   - What non-numerical information needs to be collected?\n   - What opinions, testimonials, and case studies are relevant?\n   - What descriptive information provides context?\n7. **Comparative Data**:\n\n   - What comparison points or benchmark data are required?\n   - What similar cases or alternatives should be examined?\n   - How does this compare across different contexts?\n8. **Risk Data**:\n\n   - What information about ALL potential risks should be gathered?\n   - What are the challenges, limitations, and obstacles?\n   - What contingencies and mitigations exist?\n\n## Step Constraints\n\n- **Maximum Steps**: Limit the plan to a maximum of {{ $('Edit Fields').first().json.steps }} steps for focused research.\n- Each step should be comprehensive but targeted, covering key aspects rather than being overly expansive.\n- Prioritize the most important information categories based on the research question.\n- Consolidate related research points into single steps where appropriate.\n\n## Execution Rules\n\n- To begin with, repeat user's requirement in your own words as `thought`.\n- Rigorously assess if there is sufficient context to answer the question using the strict criteria above.\n- If context is sufficient:\n  - Set `has_enough_context` to true\n  - No need to create information gathering steps\n- If context is insufficient (default assumption):\n  - Break down the required information using the Analysis Framework\n  - Create NO MORE THAN  {{ $('Edit Fields').first().json.steps }} focused and comprehensive steps that cover the most essential aspects\n  - Ensure each step is substantial and covers related information categories\n  - Prioritize breadth and depth within the  {{ $('Edit Fields').first().json.steps }}-step constraint\n  - For each step, carefully assess if web search is needed:\n    - Research and external data gathering: Set `need_web_search: true`\n    - Internal data processing: Set `need_web_search: false`\n- Specify the exact data to be collected in step's `description`. Include a `note` if necessary.\n- Prioritize depth and volume of relevant information - limited information is not acceptable.\n- Use the same language as the user to generate the plan.\n- Do not include steps for summarizing or consolidating the gathered information.\n\n# Output Format\n\nDirectly output the raw JSON format of `Plan` without \"```json\". The `Plan` interface is defined as follows:\n\n```ts\ninterface Step {\n  need_web_search: boolean;  // Must be explicitly set for each step\n  title: string;\n  description: string;  // Specify exactly what data to collect\n  step_type: \"research\" | \"processing\";  // Indicates the nature of the step\n}\n\ninterface Plan {\n  locale: string; // e.g. \"en-US\" or \"zh-CN\", based on the user's language or specific request\n  has_enough_context: boolean;\n  thought: string;\n  title: string;\n  steps: Step[];  // Research & Processing steps to get more context\n}\n```\n\n# Notes\n\n- Focus on information gathering in research steps - delegate all calculations to processing steps\n- Ensure each step has a clear, specific data point or information to collect\n- Create a comprehensive data collection plan that covers the most critical aspects within 5 steps\n- Prioritize BOTH breadth (covering essential aspects) AND depth (detailed information on each aspect)\n- Never settle for minimal information - the goal is a comprehensive, detailed final report\n- Limited or insufficient information will lead to an inadequate final report\n- Carefully assess each step's web search requirement based on its nature:\n  - Research steps (`need_web_search: true`) for gathering information\n  - Processing steps (`need_web_search: false`) for calculations and data processing\n- Default to gathering more information unless the strictest sufficient context criteria are met\n- Always use the language specified by the locale = **zh-cn**."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-2060,-560],"id":"be03414f-0e48-4820-854e-bd418214cfdb","name":"Planer"},{"parameters":{"assignments":{"assignments":[{"id":"e3619423-1828-4fe7-94e6-0395d33db5e4","name":"query","value":"={{ $json.chatInput }}","type":"string"},{"id":"25cdf1d2-e175-42d1-b09e-d81517c35f85","name":"depth","value":"2","type":"string"},{"id":"f361e7e5-e35f-42e0-923b-ed0988c98fc7","name":"breadth","value":"3","type":"string"},{"id":"c50b7113-3481-4a64-bb51-c111a6b2a923","name":"steps","value":"3","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2300,-560],"id":"6f8230b2-eb32-45c1-986b-1af7ffb43eee","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=You are are an expert and insightful researcher.\n* Given the following prompt from the user, write a final report on the topic using the learnings from research.\n* Make it as as detailed as possible, aim for 3 or more pages, include ALL the learnings from research.\n* Format the report in markdown. Use headings, lists and tables only and where appropriate.\n* Writing the report in chinese.\n\n<prompt>{{ $('Edit Fields').first().json.query }}</prompt>\n\nHere are all the learnings from previous research:\n\n<learnings>\n{{\n$('Execution Data').first().json.data\n  .map(item => `<learning>${item.text}</learning>`)  \n  .join('\\n')\n}}\n</learnings>"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-640,-760],"id":"27c33b52-58cd-4c3c-b2e0-3b52e453ddf3","name":"Reporter"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.text }}","destinationKey":"html","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-260,-760],"id":"9e84d1ce-aa48-4d90-96ed-dba483a3c529","name":"Markdown"},{"parameters":{"workflowId":{"__rl":true,"value":"hNVu1I7KMd7FQayB","mode":"list","cachedResultName":"Deep Research Initialize"},"workflowInputs":{"mappingMode":"defineBelow","value":{"requestId":"1","data":"={{ \n{   \n  \"query\": $json.title,   \n  \"learnings\": [],  \n  \"depth\":  $('Edit Fields').first().json.depth ,   \n  \"breadth\": $('Edit Fields').first().json.breadth\n} \n}}"},"matchingColumns":[],"schema":[{"id":"requestId","displayName":"requestId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1120,-360],"id":"ef50be68-9c24-4364-b77a-ce0cbf0ee7ab","name":"Deep Research Initialize"},{"parameters":{"workflowId":{"__rl":true,"value":"TRQd8UKHGVNCYl1I","mode":"list","cachedResultName":"Sumarize"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text":"={{ $json.html }}"},"matchingColumns":["text"],"schema":[{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[0,-760],"id":"c8920bd5-86be-48a3-8e19-72c2b17e371a","name":"Sumarize"},{"parameters":{"method":"POST","url":"https://www.bysoft.net.cn/test/create/Article?_code=3ae8773a-b9d8-436b-83d1-be036fea4176","sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"={{ $('Execution Data').first().json.data.query }}"},{"name":"content","value":"={{ $('Markdown').first().json.html }}"},{"name":"remark","value":"={{ $json.sumary }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,-760],"id":"c63e8afc-8957-444d-aee7-6c333d5df9e8","name":"Save To Server"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Planer","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Planer","type":"ai_outputParser","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Deep Research Initialize","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Reporter","type":"ai_languageModel","index":0}]]},"Execution Data":{"main":[[{"node":"Reporter","type":"main","index":0}]]},"Planer":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Planer","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Sumarize","type":"main","index":0}]]},"Reporter":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Deep Research Initialize":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Sumarize":{"main":[[{"node":"Save To Server","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5d457dc2-3bc0-41a4-b688-660a82000a39","triggerCount":0,"tags":[]}