Deep Research Report.json
{"createdAt":"2025-05-16T07:28:03.126Z","updatedAt":"2025-07-04T10:49:18.000Z","id":"gUX46noLRG1B9CSH","name":"Deep Research Report","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"requestId","type":"any"},{"name":"data","type":"object"}]}},"id":"af6e7308-e9cd-4e98-bdb5-e7a741277090","name":"DeepResearch Subworkflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[180,1220],"typeVersion":1.1},{"parameters":{"dataToSave":{"values":[{"key":"requestId","value":"={{ $json.requestId }}"}]}},"id":"6c11aa76-3194-401c-9ba3-cbd8183ecdee","name":"Execution Data","type":"n8n-nodes-base.executionData","position":[480,1220],"typeVersion":1},{"parameters":{"promptType":"define","text":"=You are are an expert and insightful researcher.\n* Given the following prompt from the user, write a final report on the topic using the learnings from research.\n* Make it as as detailed as possible, aim for 3 or more pages, include ALL the learnings from research.\n* Format the report in markdown. Use headings, lists and tables only and where appropriate.\n\n<prompt>{{ $('Execution Data').first().json.data.query }}</prompt>\n\nHere are all the learnings from previous research:\n\n<learnings>\n{{\n$('Execution Data').first().json.data\n  .all_learnings\n  .map(item => `<learning>${item}</learning>`)  \n  .join('\\n')\n}}\n</learnings>"},"id":"70cb24ae-ae53-4513-85e1-869fd5250f55","name":"DeepResearch Report","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[800,1220],"typeVersion":1.5,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gemini-2.0-flash","mode":"list","cachedResultName":"gemini-2.0-flash"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[720,1460],"id":"0b3e6676-81a3-42ed-89e2-10ed0a2ca540","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"ZtquqVbSZYmpp9BK","name":"Gemini OpenAI"}}},{"parameters":{"promptType":"define","text":"=You are are an expert and insightful researcher.\n* Given the following prompt from the user, write a final report on the topic using the learnings from research.\n* Make it as as detailed as possible, aim for 3 or more pages, include ALL the learnings from research.\n* Format the report in markdown. Use headings, lists and tables only and where appropriate.\n\n<prompt>{{ $('Execution Data').first().json.data.query }}</prompt>\n\nHere are all the learnings from previous research:\n\n<learnings>\n{{\n$('Execution Data').first().json.data\n  .all_learnings\n  .map(item => `<learning>${item}</learning>`)  \n  .join('\\n')\n}}\n</learnings>"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1200,1420],"id":"7cb6059e-aaea-4b04-a963-2d3ddcfe5984","name":"Basic LLM Chain"},{"parameters":{"model":"deepseek/deepseek-chat:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1160,1640],"id":"a31127c8-8940-4860-8122-84ba15bdd754","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"oTFyd3SVcT8EVg5h","name":"OpenRouter account"}}},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.text }}","destinationKey":"html","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1620,1200],"id":"aaeca185-397d-4ec2-bfc4-ffc5bfb4663b","name":"Markdown"},{"parameters":{"method":"POST","url":"https://www.bysoft.net.cn/test/create/Article?_code=3ae8773a-b9d8-436b-83d1-be036fea4176","sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"={{ $('Execution Data').first().json.data.query }}"},{"name":"content","value":"={{ $json.html }}"},{"name":"remark","value":"={{ $json.response.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2360,1200],"id":"41858826-6873-4d5d-8a4a-52e755439bda","name":"HTTP Request"},{"parameters":{"operationMode":"documentLoader","options":{}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[1920,1200],"id":"574a0339-193a-4cc4-8d59-e2bc9312db4f","name":"Summarization Chain"},{"parameters":{"model":"deepseek/deepseek-v3-base:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1800,1440],"id":"a6a1ab7b-b1cf-4457-a50f-c110bc75eacd","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"oTFyd3SVcT8EVg5h","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1980,1420],"id":"3b20bc58-3b73-49ba-b87d-616cf57db025","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1980,1640],"id":"c53a94c4-4cce-4b6d-9364-930f890900ee","name":"Recursive Character Text Splitter"}],"connections":{"Execution Data":{"main":[[{"node":"DeepResearch Report","type":"main","index":0}]]},"DeepResearch Report":{"main":[[{"node":"Markdown","type":"main","index":0}],[{"node":"Basic LLM Chain","type":"main","index":0}]]},"DeepResearch Subworkflow":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"DeepResearch Report","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Markdown":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"Summarization Chain":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Summarization Chain","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9ebab4f0-39e7-4a8b-80b1-cd81f4f57526","triggerCount":0,"tags":[]}