Deep Research Report.json
{"createdAt":"2025-05-16T07:28:03.126Z","updatedAt":"2025-07-11T12:43:56.000Z","id":"gUX46noLRG1B9CSH","name":"Deep Research Report","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"requestId","type":"any"},{"name":"data","type":"object"}]}},"id":"af6e7308-e9cd-4e98-bdb5-e7a741277090","name":"DeepResearch Subworkflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[300,1020],"typeVersion":1.1},{"parameters":{"dataToSave":{"values":[{"key":"requestId","value":"={{ $json.requestId }}"}]}},"id":"6c11aa76-3194-401c-9ba3-cbd8183ecdee","name":"Execution Data","type":"n8n-nodes-base.executionData","position":[600,1020],"typeVersion":1},{"parameters":{"promptType":"define","text":"=You are are an expert and insightful researcher.\n* Given the following prompt from the user, write a final report on the topic using the learnings from research.\n* Make it as as detailed as possible, aim for 3 or more pages, include ALL the learnings from research.\n* Format the report in markdown. Use headings, lists and tables only and where appropriate.\n* Write in Chinese.\n\n<prompt>{{ $('Execution Data').first().json.data.query }}</prompt>\n\nHere are all the learnings from previous research:\n\n<learnings>\n{{\n$('Execution Data').first().json.data\n  .all_learnings\n  .map(item => `<learning>${item}</learning>`)  \n  .join('\\n')\n}}\n</learnings>"},"id":"70cb24ae-ae53-4513-85e1-869fd5250f55","name":"DeepResearch Report","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[920,1020],"typeVersion":1.5,"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"free-text-model","mode":"list","cachedResultName":"free-text-model"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[840,1260],"id":"0b3e6676-81a3-42ed-89e2-10ed0a2ca540","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"diwtx5IInJDQgRjQ","name":"Single LLM"}}}],"connections":{"Execution Data":{"main":[[{"node":"DeepResearch Report","type":"main","index":0}]]},"DeepResearch Report":{"main":[[],[]]},"DeepResearch Subworkflow":{"main":[[{"node":"Execution Data","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"DeepResearch Report","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"00bad883-cc4a-4246-8377-d13520ffae5e","triggerCount":0,"tags":[]}