Deep Research.json
{"createdAt":"2025-05-14T07:29:32.862Z","updatedAt":"2025-06-06T14:22:50.000Z","id":"dYtsHJ9nlgWig4gd","name":"Deep Research","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"df28b12e-7c20-4ff5-b5b8-dc773aa14d4b","name":"request_id","type":"string","value":"={{ $execution.id }}"},{"id":"9362c1e7-717d-444a-8ea2-6b5f958c9f3f","name":"prompt","type":"string","value":"={{ $json['What would you like to research?'] }}"},{"id":"09094be4-7844-4a9e-af82-cc8e39322398","name":"depth","type":"number","value":"={{\n!isNaN($json['input-depth'][0].toNumber())\n  ? $json['input-depth'][0].toNumber()\n  : 1\n}}"},{"id":"3fc30a30-7806-4013-835d-97e27ddd7ae1","name":"breadth","type":"number","value":"={{\n!isNaN($json['input-breadth'][0].toNumber())\n  ? $json['input-breadth'][0].toNumber()\n  : 1\n}}"}]},"options":{}},"id":"9fcc3a7c-d7af-47eb-bb99-2817a2908704","name":"Set Variables","type":"n8n-nodes-base.set","position":[840,780],"typeVersion":3.4},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"questions\": {\n      \"type\": \"array\",\n      \"description\": \"Follow up questions to clarify the research direction, max of 3.\",\n      \"items\": {\n          \"type\": \"string\"\n      }\n    }\n  }\n}"},"id":"815262fe-3540-4b9b-9b61-c074bb29acd7","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1200,1020],"typeVersion":1.2},{"parameters":{"formTitle":" DeepResearcher","formDescription":"=DeepResearcher is a multi-step, recursive approach using the internet to solve complex research tasks, accomplishing in tens of minutes what a human would take many hours.\n\nTo use, provide a short summary of what the research and how \"deep\" you'd like the workflow to investigate. Note, the higher the numbers the more time and cost will occur for the research.\n\nThe workflow is designed to complete independently and when finished, a report will be saved in a designated Notion Database.","formFields":{"values":[{"fieldType":"html"}]},"options":{"buttonLabel":"Next","path":"deep_research","ignoreBots":true}},"id":"b6789915-63ea-4465-a0d0-2e8f7c12b32e","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[480,780],"webhookId":"026629c8-7644-493c-b830-d9c72eea307d","typeVersion":2.2},{"parameters":{"fieldToSplitOut":"output.questions","options":{}},"id":"626788f1-9d11-4179-88eb-77db2ac63397","name":"Feedback to Items","type":"n8n-nodes-base.splitOut","position":[1740,640],"typeVersion":1},{"parameters":{"formFields":{"values":[{"fieldLabel":"={{ $json[\"output.questions\"] }}","fieldType":"textarea","placeholder":"=","requiredField":true}]},"options":{"formTitle":"DeepResearcher","formDescription":"=<img\n  src=\"https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/o4wqztloz3j6okfxpeyw\"\n  width=\"100%\"\n  style=\"border:1px solid #ccc\"\n/>\n<p style=\"text-align:left\">\nAnswer the following clarification questions to assist the DeepResearcher better under the research topic.\n</p>\n<hr style=\"display:block;margin-top:16px;margin-bottom:0\" />\n<p style=\"text-align:left;font-family:sans-serif;font-weight:700;\">\nTotal {{ $('Feedback to Items').all().length }} questions.\n</p>","buttonLabel":"Answer"}},"id":"4d36bd5f-7e01-4dd4-af67-674a40b0c54f","name":"Ask Clarity Questions","type":"n8n-nodes-base.form","position":[2220,840],"webhookId":"d3375ba6-0008-4fcb-96bc-110374de2603","typeVersion":1},{"parameters":{"options":{}},"id":"b0d4fcd4-a2b0-4c52-a5bf-f08f134db9dd","name":"For Each Question...","type":"n8n-nodes-base.splitInBatches","position":[1980,740],"typeVersion":3},{"parameters":{"operation":"completion","respondWith":"showText","responseText":"=<div style=\"padding:40px;line-height:1.8;\">\n{{ $json.html }}\n</div>"},"id":"9a523d14-b6c4-4112-ad82-c8ebda495aa0","name":"End Form","type":"n8n-nodes-base.form","position":[3760,620],"webhookId":"88f2534b-2b82-4b40-a4bc-97d96384e8fd","typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"14b77741-c3c3-4bd2-be6e-37bd09fcea2b","name":"query","type":"string","value":"=Initial query: {{ $('Set Variables').first().json.prompt }}\nFollow-up Questions and Answers:\n{{\n$input.all()\n  .map(item => {\n    const q = Object.keys(item.json)[0];\n    const a = item.json[q];\n    return `question: ${q}\\nanswer: ${a}`;\n  })\n  .join('\\n')\n}}"}]},"options":{}},"id":"c0d8783b-cec7-4e75-bb69-ef02f4b0569e","name":"Get Initial Query","type":"n8n-nodes-base.set","position":[2220,640],"executeOnce":true,"typeVersion":3.4},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\":\" A short title summarising the research topic\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"A short description to summarise the research topic\"\n    }\n  }\n}"},"id":"89753180-eba0-4d86-a1af-60caa3154256","name":"Structured Output Parser4","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[2960,1100],"typeVersion":1.2},{"parameters":{"formFields":{"values":[{"fieldType":"html","html":"=<a href=\"{{ $json.url }}\" style=\"text-decoration:none\" target=\"_blank\">\n<div style=\"display:flex;text-align:left;font-family:sans-serif;\">\n  <div style=\"width:100%;padding:12px;\">\n    <div style=\"font-size:14px;font-weight:700\">{{ $json.name }}</div>\n    <div style=\"font-size:12px;color:#666\">\n      {{ $json.property_description }}\n    </div>\n  </div>\n</div>\n</a>"}]},"options":{"formTitle":"DeepResearcher","formDescription":"=<img\n  src=\"https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/o4wqztloz3j6okfxpeyw\"\n  width=\"100%\"\n  style=\"border:1px solid #ccc\"\n/>\n<p style=\"text-align:left\">\n<strong style=\"display:block;font-family:sans-serif;font-weight:700;font-size:16px;margin-top:12px;margin-bottom:0;\">Your Report Is On Its Way!</strong>\n<br/>\nDeepResearcher will now work independently to conduct the research and the compiled report will be uploaded to the following Notion page below when finished.\n<br/><br/>\nPlease click the \"Done\" button to complete the form.\n</p>\n<hr style=\"display:block;margin-top:16px;margin-bottom:0\" />","buttonLabel":"Done"}},"id":"daa27f11-3171-442a-b922-cdc7566c8b09","name":"Confirmation","type":"n8n-nodes-base.form","position":[3100,620],"webhookId":"2eb17c47-c887-4e95-8641-1b3796452ab9","typeVersion":1},{"parameters":{"formFields":{"values":[{"fieldLabel":"What would you like to research?","fieldType":"textarea","requiredField":true},{"fieldType":"html","elementName":"input-depth","html":"<video\n    style=\"display:none\"\n    src=\"/when_will_n8n_support_range_sliders.mp4\"\n    onerror='\n  this.insertAdjacentHTML(`afterend`,\n  `<div class=\"form-group\" style=\"margin-bottom:16px;\">\n    <label class=\"form-label\" for=\"breadth\">\n      Enter research depth (Default 1)\n    </label>\n    <p style=\"font-size:12px;color:#666;text-align:left\">\n      This value determines how many sub-queries to generate.\n    </p>\n    <input\n      class=\"form-input\"\n      type=\"range\"\n      id=\"depth\"\n      name=\"field-1\"\n      value=\"1\"\n      step=\"1\"\n      max=\"5\"\n      min=\"1\"\n      list=\"depth-markers\"\n    >\n    <datalist\n      id=\"depth-markers\"\n      style=\"display: flex;\n      flex-direction: row;\n      justify-content: space-between;\n      writing-mode: horizontal-tb;\n      margin-top: -10px;\n      text-align: center;\n      font-size: 10px;\n      margin-left: 16px;\n      margin-right: 16px;\"\n    >\n      <option value=\"1\" label=\"1\"></option>\n      <option value=\"2\" label=\"2\"></option>\n      <option value=\"3\" label=\"3\"></option>\n      <option value=\"4\" label=\"4\"></option>\n      <option value=\"5\" label=\"5\"></option>\n    </datalist>\n  </div>`)\n  '\n/>"},{"fieldType":"html","elementName":"input-breadth","html":"<video\n    style=\"display:none\"\n    src=\"/when_will_n8n_support_range_sliders.mp4\"\n    onerror='\n  this.insertAdjacentHTML(`afterend`,\n  `<div class=\"form-group\" style=\"margin-bottom:16px;\">\n    <label class=\"form-label\" for=\"breadth\">\n      Enter research breadth (Default 2)\n    </label>\n    <p style=\"font-size:12px;color:#666;text-align:left\">\n      This value determines how many sources to explore.\n    </p>\n    <input\n      class=\"form-input\"\n      type=\"range\"\n      id=\"breadth\"\n      name=\"field-2\"\n      value=\"2\"\n      step=\"1\"\n      max=\"5\"\n      min=\"1\"\n      list=\"breadth-markers\"\n    >\n    <datalist\n      id=\"breadth-markers\"\n      style=\"display: flex;\n      flex-direction: row;\n      justify-content: space-between;\n      writing-mode: horizontal-tb;\n      margin-top: -10px;\n      text-align: center;\n      font-size: 10px;\n      margin-left: 16px;\n      margin-right: 16px;\"\n    >\n      <option value=\"1\" label=\"1\"></option>\n      <option value=\"2\" label=\"2\"></option>\n      <option value=\"3\" label=\"3\"></option>\n      <option value=\"4\" label=\"4\"></option>\n      <option value=\"5\" label=\"5\"></option>\n    </datalist>\n  </div>`)\n  '\n/>\n"},{"fieldLabel":"={{ \"\" }}","fieldType":"dropdown","fieldOptions":{"values":[{"option":"=I understand higher depth and breath values I've selected may incur longer wait times and higher costs. I acknowledging this and wish to proceed with the research request."}]},"multiselect":true,"requiredField":true}]},"options":{"formTitle":"DeepResearcher","formDescription":"=<img\n  src=\"https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/o4wqztloz3j6okfxpeyw\"\n  width=\"100%\"\n  style=\"border:1px solid #ccc\"\n/>"}},"id":"298dfb9b-4977-4525-96a2-2d4427e71085","name":"Research Request","type":"n8n-nodes-base.form","position":[660,780],"webhookId":"46142c14-3692-40f6-80e5-f3d976e95191","typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"gemini-2.0-flash","mode":"list","cachedResultName":"gemini-2.0-flash"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1020,1020],"id":"32880cfd-61a7-419f-b0f3-5e2ed5a642d1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ZtquqVbSZYmpp9BK","name":"Gemini OpenAI"}}},{"parameters":{"workflowId":{"__rl":true,"value":"=hNVu1I7KMd7FQayB","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data":"={{\n{\n  \"query\": $('Get Initial Query').first().json.query,\n  \"learnings\": [],\n  \"depth\": $('Set Variables').first().json.depth,\n  \"breadth\": $('Set Variables').first().json.breadth,\n}\n}}","requestId":"={{ $('Set Variables').first().json.request_id }}"},"matchingColumns":[],"schema":[{"id":"requestId","display":true,"removed":false,"required":false,"displayName":"requestId","defaultMatch":false,"canBeUsedToMatch":true},{"id":"jobType","type":"string","display":true,"removed":true,"required":false,"displayName":"jobType","defaultMatch":false,"canBeUsedToMatch":true},{"id":"data","type":"object","display":true,"removed":false,"required":false,"displayName":"data","defaultMatch":false,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"id":"7a4d3f5e-3acc-4da8-98ad-22a80c2fb591","name":"Initiate DeepResearch","type":"n8n-nodes-base.executeWorkflow","position":[3340,620],"typeVersion":1.2},{"parameters":{"model":"deepseek/deepseek-chat:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2780,1100],"id":"9bdfa90c-941d-4901-8814-1dad42b9692d","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"oTFyd3SVcT8EVg5h","name":"OpenRouter account"}}},{"parameters":{"model":"deepseek/deepseek-chat:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1380,1120],"id":"37a4c388-3970-490c-8ed0-360e78c9d9d4","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"oTFyd3SVcT8EVg5h","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"questions\": {\n      \"type\": \"array\",\n      \"description\": \"Follow up questions to clarify the research direction, max of 3.\",\n      \"items\": {\n          \"type\": \"string\"\n      }\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1560,1120],"id":"9d5960ea-5517-4e5b-85a6-586d28bbdfb2","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Given the following query from the user, ask some follow up questions to clarify the research direction. Return a maximum of 3 questions, but feel free to return less if the original query is clear. Accepting query from the user in any language and always responding in the same language as the user input: <query>{{ $json.prompt }}</query>`","hasOutputParser":true,"messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","message":"=You are an expert researcher. Today is {{ $now.toLocaleString() }}. Follow these instructions when responding:   - You may be asked to research subjects that is after your knowledge cutoff, assume the user is right when presented with news.   - The user is a highly experienced analyst, no need to simplify it, be as detailed as possible and make sure your response is correct.   - Be highly organized.   - Suggest solutions that I didn't think about.   - Be proactive and anticipate my needs.   - Treat me as an expert in all subject matter.   - Mistakes erode my trust, so be accurate and thorough.   - Provide detailed explanations, I'm comfortable with lots of detail.   - Value good arguments over authorities, the source is irrelevant.   - Consider new technologies and contrarian ideas, not just the conventional wisdom.   - You may use high levels of speculation or prediction, just flag it for me."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1380,900],"id":"14d0a05c-2509-4c36-b06d-406b649d50af","name":"Deepseek Clarifying Questions"},{"parameters":{"model":{"__rl":true,"value":"gemini-2.0-flash","mode":"list","cachedResultName":"gemini-2.0-flash"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2460,880],"id":"d6602307-cfe2-41df-aced-0782c4c559d2","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ZtquqVbSZYmpp9BK","name":"Gemini OpenAI"}}},{"parameters":{"jsonSchemaExample":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\":\" A short title summarising the research topic\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"A short description to summarise the research topic\"\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2640,880],"id":"3ab6b92f-c0c2-4e21-b325-8fa67d493584","name":"Structured Output Parser2"},{"parameters":{"promptType":"define","text":"=Create a suitable title for the research report which will be created from the user's query.\n<query>{{ $json.query }}</query>","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[2460,640],"id":"52f49dc1-61b7-4855-93f4-56b014ba4014","name":"Gemini Report Page Generator","onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Given the following query from the user, ask some follow up questions to clarify the research direction. Return a maximum of 3 questions, but feel free to return less if the original query is clear. Accepting query from the user in any language and always responding in the same language as the user input: <query>{{ $json.prompt }}</query>`","hasOutputParser":true,"messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","message":"=You are an expert researcher. Today is {{ $now.toLocaleString() }}. Follow these instructions when responding:\n  - You may be asked to research subjects that is after your knowledge cutoff, assume the user is right when presented with news.\n  - The user is a highly experienced analyst, no need to simplify it, be as detailed as possible and make sure your response is correct.\n  - Be highly organized.\n  - Suggest solutions that I didn't think about.\n  - Be proactive and anticipate my needs.\n  - Treat me as an expert in all subject matter.\n  - Mistakes erode my trust, so be accurate and thorough.\n  - Provide detailed explanations, I'm comfortable with lots of detail.\n  - Value good arguments over authorities, the source is irrelevant.\n  - Consider new technologies and contrarian ideas, not just the conventional wisdom.\n  - You may use high levels of speculation or prediction, just flag it for me."}]}},"id":"b2f66d8b-a1fc-40f2-8bb9-ed3e2b3ed53c","name":"Gemini  Clarifying Questions","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1020,780],"typeVersion":1.5,"retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Create a suitable title for the research report which will be created from the user's query.\n<query>{{ $json.query }}</query>","hasOutputParser":true},"id":"095daaa9-7679-48d8-b50f-3c54c359a3f0","name":"Deepseek Report Page Generator","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[2780,880],"typeVersion":1.5,"retryOnFail":false},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[3560,620],"id":"2c2fe610-25fc-4a46-8671-d6ef93e850b4","name":"Markdown"}],"connections":{"Confirmation":{"main":[[{"node":"Initiate DeepResearch","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Gemini  Clarifying Questions","type":"main","index":0}]]},"Research Request":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"Feedback to Items":{"main":[[{"node":"For Each Question...","type":"main","index":0}]]},"Get Initial Query":{"main":[[{"node":"Gemini Report Page Generator","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Research Request","type":"main","index":0}]]},"For Each Question...":{"main":[[{"node":"Get Initial Query","type":"main","index":0}],[{"node":"Ask Clarity Questions","type":"main","index":0}]]},"Ask Clarity Questions":{"main":[[{"node":"For Each Question...","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Gemini  Clarifying Questions","type":"ai_outputParser","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Deepseek Report Page Generator","type":"ai_outputParser","index":0}]]},"End Form":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Gemini  Clarifying Questions","type":"ai_languageModel","index":0}]]},"Initiate DeepResearch":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Deepseek Report Page Generator","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Deepseek Clarifying Questions","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Deepseek Clarifying Questions","type":"ai_outputParser","index":0}]]},"Deepseek Clarifying Questions":{"main":[[{"node":"Feedback to Items","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Gemini Report Page Generator","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Gemini Report Page Generator","type":"ai_outputParser","index":0}]]},"Gemini Report Page Generator":{"main":[[{"node":"Confirmation","type":"main","index":0}],[{"node":"Deepseek Report Page Generator","type":"main","index":0}]]},"Gemini  Clarifying Questions":{"main":[[{"node":"Feedback to Items","type":"main","index":0}],[{"node":"Deepseek Clarifying Questions","type":"main","index":0}]]},"Deepseek Report Page Generator":{"main":[[{"node":"Confirmation","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"End Form","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"be5ecac6-9fec-4b41-a263-5c718b160b34","triggerCount":1,"tags":[],"error":"The resource you are requesting could not be found"}