Search.json
{"createdAt":"2025-05-17T05:43:04.153Z","updatedAt":"2025-05-17T06:51:39.000Z","id":"nbCFmBEOHuHotcd4","name":"Search","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"query"},{"name":"channel"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[120,460],"id":"11f0974a-20c9-4971-973e-10eec7879afb","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ $json.query }}"},{"name":"max_results","value":"10"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,560],"id":"cdeaf41a-8279-4bc7-8cb2-da63ee4e05a0","name":"Tavily","retryOnFail":false,"alwaysOutputData":true,"executeOnce":false,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"url":"http://searxng.bysoft.net.cn","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.query }}"},{"name":"format","value":"json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,260],"id":"ffdf1a47-c5a3-435c-a2c5-9f2eb02d2467","name":"Seaxng","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"91954146-b9ef-44ea-a332-59f4524eea85","leftValue":"={{ $json.channel }}","rightValue":"Searxng","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[600,460],"id":"4ea14cd5-9f40-454e-ad46-5f7ddb6e5775","name":"If"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1360,540],"id":"3e1f466c-70ec-4ba8-b429-cf24e5b773ed","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"aa97afea-22b8-419c-ab31-a3a2396ff938","name":"results","value":"=[]","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,280],"id":"11a89d0a-f06b-469d-9418-476a2b6d5fc9","name":"Empty Result"},{"parameters":{"assignments":{"assignments":[{"id":"f65beb4e-4a4a-44fc-a2f3-c4af93f429b5","name":"url","value":"={{ $json.url }}","type":"string"},{"id":"7455cafd-91a7-48b1-a5ac-273cba529c7b","name":"content","value":"={{ $json.content }}","type":"string"},{"id":"33627e15-6971-45c6-a5dd-bf4ee6408324","name":"title","value":"={{ $json.title }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1620,540],"id":"dbaa5480-812f-4c67-ba73-e5f879de08f9","name":"Actual Result"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[360,460],"id":"44af8a0c-a4f2-442c-916f-51c43efec15b","name":"Query Ref"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1860,540],"id":"045b8d51-55dd-414c-879d-e82d2b7f1b11","name":"Aggregate"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Query Ref","type":"main","index":0}]]},"Tavily":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"Seaxng","type":"main","index":0}]]},"If":{"main":[[{"node":"Seaxng","type":"main","index":0}],[{"node":"Tavily","type":"main","index":0}]]},"Seaxng":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"Empty Result","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Actual Result","type":"main","index":0}]]},"Query Ref":{"main":[[{"node":"If","type":"main","index":0}]]},"Actual Result":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"642b7dc8-b020-49a9-89e9-b5b00114b9d0","triggerCount":0,"tags":[]}