Search Then Crawl.json
{"createdAt":"2025-06-04T12:46:06.357Z","updatedAt":"2025-06-06T12:04:42.000Z","id":"sCTRsDMKLWLgF65d","name":"Search Then Crawl","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"query"},{"name":"output_format"}]}},"id":"3087f81e-2360-4a6f-a8d0-12e3bfa79269","name":"DeepResearch Subworkflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1020,1700],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"c41592db-f9f0-4228-b6d8-0514c9a21fca","name":"contents","type":"array","value":"={{ $json.results.map(item => item.content) }}"},{"id":"5579a411-94dc-4b10-a276-24adf775be1d","name":"urls","type":"array","value":"={{ $json.results.map(item => item.url) }}"}]},"options":{}},"id":"68f5593e-815c-46d2-9a8e-85435704e07d","name":"Get Markdown + URL","type":"n8n-nodes-base.set","position":[2640,1220],"typeVersion":3.4},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1980,1700],"id":"34763343-2518-41cf-b3b7-225ec685633f","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1700,1700],"id":"6ce574ec-ec33-4fd0-a41a-98a50f1fe214","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"6e189141-22e3-4936-97c6-0dccd790c570","name":"content","value":"={{ $json.content }}","type":"string"},{"id":"3af70aa9-2a63-4953-8017-335d5f34e757","name":"url","value":"={{ $('Item Markdown').first().json.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2920,1960],"id":"1de4f8b2-99eb-40cb-bca9-f05c96a2e768","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2360,1720],"id":"812cd59d-130d-47f2-b03a-d77d2e501f41","name":"Item Markdown"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2280,1220],"id":"bce5723f-cc73-4949-a3ef-ce69c708fb54","name":"Aggregate"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1240,1700],"id":"af2f6d5a-dfda-457e-8614-0b2793e36087","name":"Item Ref"},{"parameters":{"workflowId":{"__rl":true,"value":"nbCFmBEOHuHotcd4","mode":"list","cachedResultName":"Search"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $json.query }}","channel":"Default"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"channel","displayName":"channel","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1460,1700],"id":"1512b82b-db66-41c3-be69-6ced49dc91f1","name":"Search Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"dJaIZq38hbJTPWBg","mode":"list","cachedResultName":"Crawl One Page"},"workflowInputs":{"mappingMode":"defineBelow","value":{"url":"={{ $json.url }}","output_format":"={{ $('Item Ref').first().json.output_format }}","content":"={{ $json.content }}"},"matchingColumns":[],"schema":[{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"output_format","displayName":"output_format","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2680,1720],"id":"d3d8adaf-f692-4e45-8df1-4c7fb8a1d0b6","name":"Crawl One Page Workflow"}],"connections":{"Get Markdown + URL":{"main":[[]]},"DeepResearch Subworkflow":{"main":[[{"node":"Item Ref","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Item Markdown","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Item Markdown":{"main":[[{"node":"Crawl One Page Workflow","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get Markdown + URL","type":"main","index":0}]]},"Item Ref":{"main":[[{"node":"Search Workflow","type":"main","index":0}]]},"Search Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Crawl One Page Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f7fa6b7f-426f-4d89-887b-5e471d0e4893","triggerCount":0,"tags":[],"error":"The resource you are requesting could not be found"}