Sumarize.json
{"createdAt":"2025-07-05T13:10:33.956Z","updatedAt":"2025-07-06T11:38:17.000Z","id":"TRQd8UKHGVNCYl1I","name":"Sumarize","active":false,"nodes":[{"parameters":{"operationMode":"documentLoader","options":{}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[-40,-100],"id":"56d4ba56-58b6-4a7b-82be-ba3c7d8cf8e6","name":"Summarization Chain1","onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"retry-on-error","mode":"list","cachedResultName":"retry-on-error"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-160,180],"id":"aa2db8b8-fbbc-4fea-9c70-f6d3ef340666","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"diwtx5IInJDQgRjQ","name":"Single LLM"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[100,200],"id":"eb86580f-40be-457e-b17e-dcb3d8272e3f","name":"Default Data Loader1"},{"parameters":{"chunkSize":100000,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[100,380],"id":"d5faeaf5-a735-4844-b1d1-8ad6bcd10629","name":"Recursive Character Text Splitter1"},{"parameters":{"workflowInputs":{"values":[{"name":"text"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-360,-100],"id":"a8c54dc7-484c-4674-becd-57b4725d0dd9","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"c5f06c4f-1014-446e-8498-a49abd6f3a8f","name":"summary","value":" ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,0],"id":"daeaaa10-51ae-42d3-8142-9aa163e23b4f","name":"No Sumary"},{"parameters":{"assignments":{"assignments":[{"id":"4367ffb8-8c32-4012-937a-d008671bc693","name":"summary","value":"={{ $json.response.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,-220],"id":"4282404e-174f-4442-85aa-6129046ea3f3","name":"Sumary"}],"connections":{"Summarization Chain1":{"main":[[{"node":"Sumary","type":"main","index":0}],[{"node":"No Sumary","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Summarization Chain1","type":"ai_languageModel","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Summarization Chain1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Summarization Chain1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c240635c-8bc0-4f26-b0fc-0066544b89ba","triggerCount":0,"tags":[]}